/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*********************  END RESET  *********************/


/*********************  Generic Classes  *********************/
body {
  line-height: 1;
  background: #F4F9F7;
}

.loading-container {
  text-align: center;
  font-family: 'Oxygen';
}

.loader {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 5px solid  #0ca13e;
  border-top-color: white;
  margin: 10% auto 5% auto;
  animation: spin 1s infinite linear;
}

.flex-container-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  align-self: center;
  margin: 2%;
  width: 350px;
}

.search {
  margin: 5% auto 5% auto;
  display: block;
}


article {
  margin: 3% 3% 0% 3%;
  background: #E5F3ED;
  padding: 3% 3% 15% 3%;
  box-shadow: 0px 0px 8px 0px #c9cccb;
  border-radius: 5px;
}

h1 {
  color: #0ca13e;
}

.title {
  font-family: 'Rufina';
  font-size: 2.8em;
  margin: 0 33% 7.5% auto;
  border-bottom: 1px solid #aaaaaa;
}

trix-toolbar {
  overflow: auto;
}
.trix-content {
  font-family: 'Oxygen';
}
.trix-content.edit{
  background: #F4F9F7;
  padding: 1em;
}

.trix-content > h1 {
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Rufina';
  margin: 0 33% 2% auto;
  border-bottom: 1px solid #aaaaaa;
}

.trix-content > div > em {
  font-style: italic;
}

.trix-content > div > strong {
  font-weight: bold;
}

.text {
  font-family: 'Oxygen';
  font-size: 1em;
  line-height: 1.6;
  padding-left: 2px;
}

.edit-button {
  display: block;
  border: none;
  padding: 1rem 2rem;
  margin: 0 auto;
  width: 150px;
  text-decoration: none;
  background: #0ca13e;
  color: #ffffff;
  font-family: Oxygen;
  font-size: 1.5em;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  transform: translateY(-50%);
  transition: background 125ms ease-in-out
              transform 75ms ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-decoration: none;
}

.edit-button:hover,
.edit-button:focus {
  background: #097e30;
}

.edit-button:focus {
  transform: translateY(-50%) scale(0.97);
}


/* Larger than mobile styling */
@media screen and (min-width: 900px) {
  body {
    font-size: 110%;
  }

  .logo {
    width: auto;
  }

  article {
    margin: 5% 20% 0% 20%;
    padding: 3% 3% 6% 3%;
  }


  .title {
    margin: 0 33% 5% auto;
  }

  .text {
    line-height: 1.75;
  }
}

@media screen and (min-width: 1500px) {
  body {
    font-size: 125%;
  }
  article {
    margin: 3% 25% 0% 25%;
    padding: 3% 5% 4% 5%;
  }
}


@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}